.footer {
    box-shadow: inset 0 1px 1px 0 var(--shadow-color);
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7E7E82;
}

@media (min-width: 768px) {
    .footer {
        padding: 10px 20px 10px 20px;
        flex-direction: row;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
    }

    .footer>span {
        width: 200px;
    }

    .footer :first-child {
        text-align: start;
    }

    .footer :nth-child(2) {
        text-align: center;
    }

    .footer :last-child {
        text-align: end;
    }
}