.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

li.swiper-slide {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 240px;
    box-sizing: border-box;
    margin-right: 0;
}

.swiper-slide__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 15px 0 15px;
}

.swiper-slide__arrow {
    height: 36px;
    width: 36px;
    border: 2px solid #FF3E79;
    border-radius: 50%;

    position: relative;
}

.swiper-slide__arrow::after {
    content: "";
    border-right: 2px solid #FF3E79;
    border-top: 2px solid #FF3E79;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: rotate(45deg);
}

.services_additional .swiper-slide__link {
    height: 165px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: 500;
}

.services_additional .swiper-slide__link :first-child {
    align-self: flex-start;
}

.swiper-slide.swiper-slide_services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 180px;
    padding: 10px;
    justify-content: space-between;
}

.swiper-slide-title {
    color: #7E7E82;
    padding-bottom: 5px;
}
.swiper-slide-info {
    color: #1B1C21;
}
.swiper-slide-with-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-slide__button {
    background-color: #FF3E79;
    height: 32px;
    width: 119px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 16px;
    color:#fff;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    align-self: flex-end;
    font-size: 12px;
}

.swiper-slide_services-title>.swiper-slide-title {
    display: none;

}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
}

@media (min-width: 768px) { 
    ul.swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 16px;
        overflow: hidden;

        box-sizing: border-box;
        transition: all 0.5s; 
    }

    .swiper-wrapper.swiper-wrapper_close {
        height: 180px;
    }

    .swiper-wrapper.swiper-wrapper_open {
        height: 370px;
    }

    li.swiper-slide {
        width: 224px;
        height: auto;
        
    }


    .swiper-wrapper.swiper-wrapper_table {
        display: grid;
        gap: 0;
    }
    
    .swiper-slide.swiper-slide_services {
        display: grid;
        grid-template-columns: 2fr 0.7fr 1.2fr;
        width: 100%;
        height: 55px;
        align-items: center;
        border: none;
        gap: 5px;
    }

    .swiper-slide-title{
        display: none;
    }
    
    .swiper-slide-with-button,
    .swiper-slide_services-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .swiper-slide_services-title {
        display: grid;
        grid-template-columns: 2fr 0.7fr 1.2fr;
        gap: 0;
    }

    .swiper-slide_services-title>.swiper-slide-title {
        display: block;
    }
    
    .swiper-slide__button {
        background-color: #FF3E79;
        height: 32px;
        width: 119px;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 16px;
        color:#fff;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        align-items: center;
        align-self: flex-end;
    }

    .swiper-pagination {
        display: none;
    }
}

@media (min-width: 1020px) { 
    
    .swiper-wrapper.swiper-wrapper_open {
        height: 270px;
    }

    .services_additional .swiper-wrapper_open {
        height: 370px;
    }

    .swiper-wrapper {
        column-gap: 32px;
    }
}

@media (min-width: 1120px) { 
    li.swiper-slide {
        width: 240px;
    }

    
}